body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 10px;
    background-color: hsl(0, 1%, 63%);
    box-sizing: border-box;
    color: #202020; 
}

#Signature {
    font-weight: bold;
    text-align: center;
    color: rgb(119, 7, 7);
    font-size: 12px;
}

h1, h2, h3 {
    color:#22305e;
}

P {
    font-size: 16px;
}

a{
    color: #22305e;
    text-decoration: underline;
}

.blog-post {
    background-color: #dddada;
    padding: 20px;
    border: 1px solid #8c97bb;
}